<%- include('partials/header.ejs') %>
<%- include('partials/navigation.ejs') %>

<section class="single-block-wrapper section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-md-12">
                        <article class="post">
                            <div class="post-body">
                                <div class="entry-content">
                                    <h2 class="mt-4 mb-3 text-center"><%= post.title %></h2>
                                    <h4 class="text-center"><img src="<%= post.photo %>" alt="" srcset=""></h4>
                                    <p> <%= post.content %></p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<%- include('partials/end.ejs') %>